@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --color-main-100: #e6ecf3;
        --color-main-200: #b8c9df;
        --color-main-300: #8aa6cb;
        --color-main-400: #5c83b7;
        --color-main-500: #2e60a3;
        --color-main-600: #20497e;
        --color-main-700: #18375e;
        --color-main-800: #122846;
        --color-main-900: #113c66;
    }
}

/* @layer components {
    .min-w-screen {
        min-width: 100vw;
    }
    .min-h-screen {
        min-height: 100vh;
    }
} */