@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    button{
        @apply duration-300;
    }

    select{
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-500 focus:border-main-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-500 dark:focus:border-main-500;
    }
    .separator {
        @apply flex items-center text-center;
    }

    .separator::before,
    .separator::after {
        content: '';
        @apply flex-1 border-b border-white;
    }

    .separator:not(:empty)::before {
        @apply mr-1;
    }

    .separator:not(:empty)::after {
        @apply ml-1;
    }
    .video-card{
        @apply relative overflow-hidden flex-1 w-full h-48;
    }
    .video-img-holder{
        @apply absolute w-full h-full z-20;
    }
    .video-image{
        @apply w-full h-full bg-main-200 shadow-lg relative border-none outline-none;
    }
    .video-overlay{
        @apply absolute w-full h-full hidden bg-gray-400/20 group-hover:flex z-50 justify-center items-center;
    }

}